.search-wrapper {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #B1AEAE;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-wrapper  {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
