.full-size-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-container {
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 154px 362px;
    border-radius: 8px;
    background: rgb(60 60 60 / 50%);
}

.block-header {
    color: #FFF;
    text-align: center;
    font-family: Montserrat, serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.block-description {
    color: #FFF;
    text-align: center;
    font-family: Montserrat, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

